<header>
    <div id="header-bcg"></div>

    <div class="content-wrapper">
        <h1>Organize and Manage your vocabulary<br>with ease.</h1>

        <div class="cta-btns clearfix">
            <a ui-sref="app.register" class="btn btn-signup">Sign Up</a>
            <a ui-sref="app.login" class="btn btn-login">Log in</a>
        </div>
    </div>
</header>

<div class="container">

    <div id="devices" class="clearfix">
        <section class="heading">
            <div id="heading-wrapper">
                <h1>Smartphone or the Web,<br>it works on both.</h1>
                <a class="downloadBtn"><i class="fa fa-android"></i> Download for android</a>
            </div>
        </section>
        <section class="device-imgs">
            <img id="mac" src="images/mac.png">
            <img id="iphone" src="images/iphone.png">
        </section>
    </div>

    <div id="features" class="clearfix">
        <h1>features</h1>
        <section class="feature"><div class="bg-circle"><img src="images/create.svg"></div><h3 class="feature-text">Create lists</h3></section>
        <section class="feature"><div class="bg-circle"><img src="images/search.svg"></div><h3 class="feature-text">Search your lists<br>&amp; words</h3></section>
        <section class="feature"><div class="bg-circle"><img src="images/add.svg"></div><h3 class="feature-text">Add new words</h3></section>
    </div>
</div><!-- /container -->

<div id="final-cta">
    <div>
        <h1>Learn. Manage. Organize your Vocabulary today.</h1>
        <a ui-sref="app.register" class="final-cta-btn">Sign Up</a>
    </div>
</div>
